<div id="quizWrapper">

  <div id="progressBar" *ngIf="mcq">
    <div id="progressStats">
      <span class="statChip attempted">Attempted: {{ mcq.attempted }}</span>
      <span class="statChip remaining">Remaining: {{ mcq.total - mcq.attempted }}</span>
      <span class="statChip total">Total: {{ mcq.total }}</span>
    </div>
    <div id="progressTrack">
      <div id="progressFill" [style.width.%]="mcq.total ? (mcq.attempted / mcq.total) * 100 : 0"></div>
    </div>
  </div>

  <div id="questionDiv" *ngIf="mcq">
    <form>

      <p id="questionText"> {{mcq.mcq}} </p>

      <div id="optionsList">
        <label class="optionRow" [class.selected]="OptionSelectedByUser==='A'">
          <input type="radio" name="option" [(ngModel)]="OptionSelectedByUser" value="A">
          <span class="optionKey">A</span>
          <span class="optionText">{{ mcq.options['A'] }}</span>
        </label>
        <label class="optionRow" [class.selected]="OptionSelectedByUser==='B'">
          <input type="radio" name="option" [(ngModel)]="OptionSelectedByUser" value="B">
          <span class="optionKey">B</span>
          <span class="optionText">{{ mcq.options['B'] }}</span>
        </label>
        <label class="optionRow" [class.selected]="OptionSelectedByUser==='C'">
          <input type="radio" name="option" [(ngModel)]="OptionSelectedByUser" value="C">
          <span class="optionKey">C</span>
          <span class="optionText">{{ mcq.options['C'] }}</span>
        </label>
        <label class="optionRow" [class.selected]="OptionSelectedByUser==='D'">
          <input type="radio" name="option" [(ngModel)]="OptionSelectedByUser" value="D">
          <span class="optionKey">D</span>
          <span class="optionText">{{ mcq.options['D'] }}</span>
        </label>
      </div>

      <div id="btnGrp">
        <button type="submit" [disabled]="!OptionSelectedByUser || submitting" (click)="SubmitAns()"> {{ submitting ? 'Submitting...' : 'Submit' }} </button>
      </div>
    </form>
  </div>

</div>
