<div id="mainOuterPlan">
    <div class="d-flex justify-content-center flex-column gap-4 align-items-center "
        id="mainPlanBox">
        <div class="planBox">
            <p class="fs-5">⏹️</p>
            <p> Title: C programm in 55555days</p>
        </div>
        <div class="planBox">
            <p> ⏹️</p>
            <p> Title: C programm in 60 days</p>
        </div>
        <div class="planBox">
            <p>⏹️</p>
            <p> Title: C programm in 60 days</p>
        </div>

        <div class="planBox">
            <p>⏹️</p>
            <p> Title: C programm in 60 days</p>
        </div>
   

       

    </div>

</div>