<router-outlet></router-outlet>
<div id="mainOuterPlan" *ngIf="showOwnPlan">
    <p class="fs-4 fw-semibold" >🖊️Plan List </p>
    <div  id="mainPlanBox">
        <div class="planBox"  *ngFor="let t of titleArr; let idx=index;" (click)="SeePlanDescription(idx)">
            <p class="fs-5">🖊️ Plan {{idx+1}} </p>
            <div>
                <p class="fs-5"> {{t}} </p>
            </div>
        </div>
              
   <!-- <button (click)="SeeWorkBtn()" > see work </button> -->

    </div>

</div>