<div id="descWrapper">

    <div id="descHeader">
        <h1 id="descTitle">{{data?.title}}</h1>
    </div>

    <div id="weekProgress" *ngIf="completedWeek">
        <div id="weekProgressChips">
            <ng-container *ngFor="let w of weekCountArr; let i = index">
                <button disabled class="progressChip" [ngClass]="{
                    'done': i+1 <= completedWeek.completedWeeks,
                    'locked': i+1 > completedWeek.completedWeeks
                  }">
                    Week {{ i + 1 }}
                </button>
            </ng-container>
        </div>

        <a id="testRewardBtn"
           [routerLinkActive]="completedWeek.testEnabled ? 'active' : ''"
           [routerLink]="completedWeek.testEnabled ? '/questions' : null"
           [class.done]="completedWeek.testEnabled"
           [class.locked]="!completedWeek.testEnabled"
           [attr.aria-disabled]="!completedWeek.testEnabled"
           (click)="completedWeek.testEnabled && StartTest()">
            🏆 Test for REWARD
        </a>

        <p id="weekNote">Weeks unlock automatically, 7 days apart. Complete every week to unlock the reward test.</p>
    </div>

    <article id="planArticle" *ngIf="data">
        <p class="planIntro"><b>Introduction:</b> {{data.introduction}}</p>
        <p class="planIntro"><b>Overall Strategy:</b> {{data.overallStrategy}}</p>

        <div class="weekBlock" *ngFor="let weekD of data.weeklyBreakdown">
            <h3 class="weekHeading">{{weekD.week}}</h3>
            <p class="weekTopic">{{weekD.topic[1]}}</p>

            <div class="pillGroup" *ngIf="weekD.resources?.length">
                <span class="pillLabel">Resources</span>
                <a class="pillLink" *ngFor="let res of weekD.resources; let i = index" [href]="res" target="_blank"> 🔗 Resource {{i + 1}} </a>
            </div>

            <div class="pillGroup" *ngIf="weekD.activities?.length">
                <span class="pillLabel">Activities</span>
                <a class="pillLink" *ngFor="let act of weekD.activities; let i = index" [href]="act" target="_blank"> 🎯 Activity {{i + 1}} </a>
            </div>

            <div class="dayCard" *ngFor="let daily of weekD.dailyBreakdown">
                <p class="dayTitle">🔷 {{daily.day}}</p>
                <p class="dayLine" *ngFor="let des of daily.description"><b>What:</b> {{des}}</p>
                <p class="dayLine" *ngFor="let why of daily.whyToLearn"><b>Why:</b> {{why}}</p>
                <p class="dayLine"><b>Revision:</b> {{daily.revision}}</p>
            </div>
        </div>

        <p class="planClosing">{{data.forNextTopic}}</p>
        <p class="planClosing">{{data.finalReview}}</p>
        <p class="planClosing motivation">✨ {{data.motivationMessage}}</p>
    </article>

</div>
