<div id="heading">

    <h1 class="fw-semibold"> Let's Build Your First Study Plan! </h1>
    <p>To get started, tell us about the subjects you're focusing on and your learning goals. </p>
</div>
<div *ngIf="isLoggedIn==true">

    <div id="selectSub">
        <div>
            <p class="m-0 fs-3 fw-semibold"> Enter Subject</p>
            <input id="subject" class="ps-2" type="text">
            <p> Which subject you want to learn? </p>

        </div>

        <div>
            <p class="m-0 fs-3 fw-semibold"> Enter Topic</p>
            <input id="topic" class="ps-2" type="text">
            <p> Which topic you want to learn? </p>
        </div>
        <div>
            <p class="m-0 fs-3 fw-semibold"> Enter Days</p>
            <input id="days" class="ps-2" type="number">
            <p> In how many days you want to learn? </p>
        </div>
        <div>
            <p class="m-0 fs-3 fw-semibold"> Enter Hours per day</p>
            <input id="hours" class="ps-2" type="number">
            <p> How much time you can give per day? </p>
        </div>
    </div>
    <div id="getItBtn">
        <button (click)="GetPlanBtn()" *ngIf="getPlan==true" id="GetPlan"> Get plan!</button>
        <button *ngIf="isGenerated==true" id="generate"> Plan Generated! Clear or Save the Plan </button>
    </div>

    <hr class="text-black">
    <div *ngIf="studyPlanData" >
        <div class="d-flex gap-3 align-items-center justify-content-center ">

            <div *ngFor="let weekNumber of studyPlanData.weeklyBreakdown" >
                <p class="border border-primary p-2 rounded-2" id="weekCount"> {{weekNumber.dayRange}} </p>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
        <div id="workFlowOutsideDiv">

            <div id="workFlow" class="fs-5">
                <div *ngIf="studyPlanData" class="d-flex flex-column justify-content-center ">

                    <p><b>Title:-</b>   {{studyPlanData.title}}</p>
                    <p> <b>Intro:-</b> {{studyPlanData.introduction}}</p>
                    <p> <b>Overall Strategy:- </b> {{studyPlanData.overallStrategy}}</p>
                    <!-- <p> {{studyPlanData.weeklyBreakdown[0]}}</p> -->

                    <div *ngFor="let week of studyPlanData.weeklyBreakdown">

                        <p> <b> Weekly Breakdown:</b> </p>
                        <ul>
                            <li class="fs-3"> <b> {{week.dayRange}} </b> </li>
                            <li class="fs-5"> {{week.topic}} </li>
                            <li> <b class="fs-4">Resources:</b> </li>
                            <ul *ngFor="let res of week.resources">
                                <li> <a [href]="res" target="_blank"  id="resLink"> [{{res}}] </a> </li>
                            </ul>
                            <li> <b class="fs-4"> Activities</b> </li>
                            <ul *ngFor="let act of week.activities">
                                <li class="fs-5"> <a [href]="act" target="_blank"> {{act}} </a> </li>
                            </ul>
                            <ul *ngFor="let daily of week.dailyBreakdown">
                                <li class="fs-4 list-unstyled"> <b>🔷 {{daily.day}} </b> </li>
                                <li> <b class="fs-4">Description:</b> </li>
                                <ul *ngFor="let des of daily.description">
                                    <li class="fs-5"> {{des}} </li>
                                </ul>
                                <li> <b class="fs-4">Why to learn: </b> </li>
                                <ul *ngFor="let why of daily.whyToLearn">
                                    <li class="fs-5"> {{why}} </li>
                                </ul>
                                <ul>
                                    <li> <b class="fs-4"> Revision:- </b> </li>
                                    <ul>

                                        <li class="fs-5"> {{daily.revision}} </li>
                                    </ul>
                                </ul>
                            </ul>
                        </ul>
                    </div>
                    <p> {{studyPlanData.forNextTopic}} </p>
                    <p> {{studyPlanData.finalReview}} </p>
                    <p> {{studyPlanData.motivationMessage}} </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="savebtn">
        <button (click)="ClearPlan()"> Clear </button>
        <button (click)="SavePlan()"> Save this Plan!</button>
    </div>


    <p id="popUp" *ngIf="result===1"> Plan saved, <a routerLinkActive="active" routerLink="/viewplan"
            class="fs-6   text-warning rounded-5 p-1"> Click here </a> </p>


 
    <!-- href=" "-> this make complete page relaod
routerLink='/home'-> only necesary page reload with [Replaces href. Enables client-side route navigation.] -->


</div>
<div class="d-flex justify-content-center">

    <a routerLinkActive="active" routerLink="" class="text-decoration-none btn btn-primary">
        Go Back
    </a>
</div>
<!-- <div *ngIf="studyPlanData">

    <p> {{studyPlanData.title}}</p>
    <p> {{studyPlanData.introduction}}</p>
    <p> {{studyPlanData.overallStrategy}}</p>
 
    <div *ngFor="let week of studyPlanData.weeklyBreakdown">

        <p> Weekly Breakdown-{{++weekNumber}} </p>
        <ul>
            <li> {{week.dayRange}} </li>
            <li> {{week.topic}} </li>
            <li> <b>Resources:</b> </li>
            <ul *ngFor="let res of week.resources">
                <li> <a [href]="res" target="_blank"> {{res}} </a> </li>
            </ul>
            <li> <b> Activities</b> </li>
            <ul *ngFor="let act of week.activities">
                <li> <a [href]="act" target="_blank"> {{act}} </a> </li>
            </ul>
            <ul *ngFor="let daily of week.dailyBreakdown">
                <li> {{daily.day}} </li>
                <li> <b>Description:</b>   </li>
                <ul *ngFor="let des of daily.description">
                    <li> {{des}} </li>
                </ul>
                <li> <b>Why to learn: </b> </li>
                 <ul *ngFor="let why of daily.whyToLearn">
                    <li> {{why}} </li>
                </ul>

                <li> {{daily.revision}} </li>
            </ul>
        </ul>
    </div>
    <p> {{studyPlanData.forNextTopic}} </p>
    <p> {{studyPlanData.finalReview}} </p>
    <p> {{studyPlanData.motivationMessage}} </p>
</div> -->
<hr>
<!-- below is  one is static  -->
<!-- <ul>
    <li> {{weeklyBreakdown[0].dailyBreakdown[0].day}}</li>
    <li> {{weeklyBreakdown[0].dailyBreakdown[0].description}}</li>
    <li> {{weeklyBreakdown[0].dailyBreakdown[0].whyToLearn}}</li>
    <li> {{weeklyBreakdown[0].dailyBreakdown[0].revision}}</li>
</ul> -->