<router-outlet></router-outlet>

<div id="profilePage" *ngIf="showProfileContent">

    <div id="backBar">
        <a routerLinkActive="active" routerLink="" id="backBtn"> ← Back </a>
    </div>

    <div id="profileCard">
        <img src="/profileImg.png" width="70px" class="rounded-3 bg-light" alt="Profile picture">
        <div id="userInfo">
            <p class="userName">{{toprofile?.name}}</p>
            <p class="userEmail">{{toprofile?.email}}</p>
        </div>
    </div>

    <div id="actionList">
        <div class="actionRow" (click)="SeeOwnWork()">
            <span class="actionIcon">📚</span>
            <span class="actionLabel">View Your Plan</span>
            <span class="actionArrow">›</span>
        </div>

        <div class="actionRow disabled">
            <span class="actionIcon">🎁</span>
            <span class="actionLabel">Offers &amp; Coupons</span>
            <span class="comingSoon">Coming soon</span>
        </div>
    </div>

    <button id="logoutBtn" (click)="LogOut()"> Log Out </button>

</div>
