<router-outlet></router-outlet>
<div *ngIf="showProfileContent">

    <div  id="backDiv">
        
        <p id="backBtn">
            <a routerLinkActive="active" routerLink="" class="text-decoration-none">
                🔙
            </a>
        </p>
</div> 
<div  id="mainDiv">
    
    <div id="userData">
        <img src="/profileImg.png" width="70px" class="rounded-3 bg-light">
        <div id="userInfo">
            <p> Name: {{toprofile.name}} </p>
            <p> Email: {{toprofile.email}} </p>
        </div>
    </div>
    <div class="userWork">
        <p class="yourWork" type="button" (click)="SeeOwnWork()" > See Your Work </p>
    </div>
    <div class="userWork">
        <p class="yourWork"> Offers & Coupons</p>
    </div>
    <p class="btn btn-danger" (click)="LogOut()" > Log Out</p>
</div>
</div>